@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.spacer{
    height: 10vh;
    clear: both;
    background-color: aqua;
}
.container{
    width: 75%;
    margin: auto;
}
main{
    min-height: 95vh;
}
